.page-header {
    background: #f5f5f5;
    margin-top: 20px;
    border-bottom: none;
    padding: 30px 0;
}
.page-header h1 {
    font-weight:200;
    margin:0 0 6px 0;
}
.page-header .breadcrumb {
    background:transparent;
    padding:5px;
    margin:0;
}
.page-header .breadcrumb li {
    font-weight: 200;
    font-size: 12px;
}
.page-header .breadcrumb a {
    color: black;
}
.content{
    poposition:absolute;
    z-index: 999;
    top:0;
    padding:25px;
}
.content tablet {
    top:50%;
    left:50%;
    transform:translate(-50% , -50%);
    text-align:center;
}
.content h3{
    margin:0;
    color:#333;
    font-size: 20px;
    font-weight: 500;
}
.product{
    padding: 80px;
}
.product-item{
    margin-bottom: 30px;
}
.product-thumb{
    position: relative;
}
.product-item .product-thumb {
    position: relative;
}
.product-content {
    text-align: center;
}
.product-content h4 a {
    color: #000;
    text-decoration: none;
}
.product-content h4 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 6px;
}