<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.shopMapper">

    <select id="selectShop" resultType="com.example.demo.pojo.shop">
        select * from shop;
    </select>
    <select id="selectShop1" resultType="com.example.demo.pojo.shop">
        select * from shop where product_id=#{product_id};
    </select>
    <select id="searchShop" resultType="com.example.demo.pojo.shop">
        select * from shop where product_name=#{product_name};
    </select>
    <select id="selectShop2" resultType="com.example.demo.pojo.shop">
        SELECT * FROM `shop` limit 0,9
    </select>
</mapper>