<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.userMapper">
    <insert id="addUser" >
        insert into users (user_name, user_password,user_email)
        values (#{user_name},#{user_password},#{user_email})
    </insert>

    <insert id="addUserCheckIsExist">
 insert into users (user_name, user_password,user_email)
        values (#{user_name},#{user_password},#{user_email})

 </insert>

    <select id="selectAll" resultType="com.example.demo.pojo.User">
        select * from users
    </select>
    <select id="selectUserByName" resultType="com.example.demo.pojo.User">
        select * from users where user_name=#{user_name}
    </select>

    <select id="userLogin" resultType="com.example.demo.pojo.User">
        select * from users where user_email=#{user_email} and user_password=#{user_password}
 </select>
</mapper>